*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}
/* ----------------------------------- BANNER ----------------------------------- */

#banner{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: black;
    color: white;
}

#banner h1{
    margin-left: 60px;
}


/* ---------- MENU ----------*/

.menu{
    margin-right: 60px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#icon-menu{
    width: 50px;
    height: 50px;
    margin-right: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#icon-menu i{
    font-size: 40px;
    color: white;
}

.card-menu{
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
}

.container-menu{
    width: 350px;
    height: 100%;
    right: 0;
    position: fixed;
    background-color: white;
    animation: aparecerMenu 1s;
}


@keyframes aparecerMenu {
    0% {
              transform: translateX(300px);
    }
    100% {
              transform: translateX(0);
    }
}

.buttons-menu{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(348deg, rgba(246,246,246,1) 32%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 68%);
}


.buttons-menu a{
    margin-left: 10px;
    text-decoration: none;
    font-size: 30px;
    color: black;
}

.buttons-menu button{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    transition: .6s;
    cursor: pointer;
    background-color: transparent;
}

.buttons-menu button:hover{
    background-color: rgb(185, 185, 185);
}

.buttons-menu button i{
    font-size: 40px;
}


.lista-menu{
    margin: 30px 0 60px;
}

.lista-menu li{
    font-size: 25px;
    padding: 5px 10px;
    list-style: none;
    transition: .6s;
}

.lista-menu li:hover{
    background-color: rgb(247, 247, 247);
}

.lista-menu li a{
    text-decoration: none;
    color: black;
}

.redes-sociais{
    margin: 10px;
}

.redes-sociais i{
    font-size: 30px;
    margin: 10px;
    color: rgb(109, 109, 109);
    transition: .6s;
}

.redes-sociais i:hover{
    color: black;
}

/* ----------------------------------- NOVIDADE ----------------------------------- */


#novidades{
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    background: rgb(80,71,71);
    background: linear-gradient(0deg, rgba(80,71,71,1) 12%, rgba(0,0,0,1) 55%);
}

.video-banner{
    width: 900px;
    height: 400px;
    border: 10px double white;
    border-radius: 200px 0 200px 0;
}

.video-banner video{
    width: 900px;
    height: 400px;
    border-radius: 200px 0 200px 0;
}

.info-novidade{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 320px;
}

.title-novidade{
    font-size: 18px;
    color: white;
    filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

.p-novidade{
    font-size: 22px;
    margin: 5px;
}

.info-novidade button{
    height: 34px;
    width: 130px;
    border: 1px solid white;
    cursor: pointer;
    background-color: white;
    transition: .6s;
}

.info-novidade button:hover{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.8);
}


/* ----------------------------------- CARROS ----------------------------------- */


#carros{
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: linear-gradient(0deg, rgb(255, 255, 255) 12%, rgb(80,71,71) 95%);
}

.card-tilte-carros{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.card-tilte-carros h1{
    margin-top: 100px;
    font-size: 50px;
    color: white;
    border-bottom: 6px double rgb(80,71,71);
    border-top: 6px double rgb(80,71,71);
}

.card-tilte-carros h3{
    margin: 50px auto;
    width: 600px;
    font-size: 24px;
    color: rgb(255, 255, 255);
}

.body-card-carros{
    width: 100%;
    justify-content: space-around;
    display: flex;
}

.card-carroUm, .card-carroDois{
    width: 350px;
    height: 392px;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 8px rgb(80,71,71);
}

.body-card-carros img{
    margin-top: 20px;
    width: 350px;
}

.body-card-carros h4{
    font-size: 25px;
    margin: 20px 0 10px;
}

.body-card-carros p{
    width: 90%;
    margin: 35px auto;
    color: rgb(119, 119, 119);
}

.carros-XC{
    margin: 100px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.carros-XC a{
    color: black;
    text-decoration: none;
}

.card-XC{
    width: 400px;
    background: linear-gradient(180deg, rgba(241,241,241,1) 35%, rgba(168,166,167,1) 60%);
    transition: all .6s;
}

.card-XC:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 2px rgb(78, 78, 78);
}

.card-XC img{
    width: 400px;
}

.card-carros-xc p{
    font-size: 25px;
    margin: 40px 0;
}

.card-carros-xc span{
    color: rgb(119, 119, 119);
    font-size: 20px;
}


/* ----------------------------------- Porque VOLVO ----------------------------------- */

#pqVolvo{
    display: flex;
    padding: 50px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.911)), url(/img/homepage-whyvolvo-desktop-16x9.avif);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

.container-volvo{
    width: 100%;
}

.img-pqVolvo{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.img-pqVolvo img{
    width: 800px;
    border-radius: 30px;
    box-shadow: 15px 15px 25px white;
}

.info-pqVolvo{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.card-info-pqVolvo{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    border-radius: 20px;
    background-color: rgba(185, 185, 185, 0.747);
    box-shadow: 8px 8px 8px white;
}

.card-info-pqVolvo h4{
    font-size: 30px;
    text-align: center;
    margin: 15px 40px;
}

.card-info-pqVolvo p{
    font-size: 16px;
    margin: 10px 15px;
    text-align: center;
}


/* ----------------------------------- FOOTER ----------------------------------- */

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 4px double black;
}

.links-footer{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.links-footer ul{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links-footer ul li{
    list-style: none;
}

.links-footer ul li a{
    color: rgb(80,71,71);
    font-size: 17px;
    text-decoration: none;
}

.text-footer{
    text-align: center;
    color: rgb(109, 109, 109);
    font-size: 20px;
    height: 25px;
}